body {
    background-color: #252830;
}
.login-form {
    width:180px;
    margin: 0 auto;
}
.btn-form {
    margin-top:10px;
}
.panel-application {
    margin-top: 10px;
}

.form-create {
    width:180px;
    margin: 0 auto;
}
.table-td-vert-middle tbody>tr>td {
    vertical-align: middle;
}