<div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Select application
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="application in applications">
                <a href="#/applications/{{application.appId}}/users">{{application.appId}}</a>
            </li>
        </ul>
    </div>

    <div class="panel panel-primary panel-application" ng-if="undefined != appId" >
        <div class="panel-heading">
            Users in application {{appId}}
            <button ng-click="createUserPopup(appId)" class="btn btn-xs btn-success" style="margin-left:20px">Create user</button>
        </div>

        <table class="table table-striped table-td-vert-middle">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Username</th>
                <th>Mail</th>
                <th>Privileges</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><img ng-src="{{user.pictureURL}}"></td>
                <td>{{user.username}}</td>
                <td>{{user.mail}}</td>
                <td>{{user.privileges}}</td>
                <td>
                    <button ng-click="addPrivilegePopup(user.id)" class="btn btn-xs btn-success">Add privilege</button>
                    <button ng-click="deletePrivilegePopup(user.id, user.privileges)" class="btn btn-xs btn-warning">Delete privilege</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>