<div class="form-group form-create">

    <label for="mail">Mail</label>
    <input ng-model="ngDialogData.user.mail" type="email" id="mail" class="form-control">
    <label for="gender">Gender</label>
    <input ng-model="ngDialogData.user.gender" type="email" id="gender" class="form-control">
    <label for="locale">Locale</label>
    <input ng-model="ngDialogData.user.locale" type="text" id="locale" class="form-control">

    <button ng-click="editUser()" class="btn btn-primary">Edit user</button>
</div>