<form>
    <div class="form-group form-create">

        <label for="facebookAppId">Facebook App Id</label>
        <input id="facebookAppId" type="text" ng-model="facebookAppId" class="form-control">
        <label for="facebookRedirectURI">Facebook redirect URI</label>
        <input id="facebookRedirectURI" type="text" ng-model="facebookRedirectURI" class="form-control">
        <label for="secret">Secret</label>
        <input id="secret" type="text" ng-model="secret" class="form-control">

        <button ng-click="addApplication()" class="btn btn-primary btn-form">Create Application</button>
    </div>
</form>