<form>
    <div class="form-group form-create">

        <label for="applicationName">Application name</label>
        <input id="applicationName" type="text" ng-model="vm.applicationName" class="form-control">
        <label for="facebookAppId">Facebook App Id</label>
        <input id="facebookAppId" type="text" ng-model="vm.facebookAppId" class="form-control">
        <label for="facebookRedirectURI">Facebook redirect URI</label>
        <input id="facebookRedirectURI" type="text" ng-model="vm.facebookRedirectURI" class="form-control">
        <label for="facebookSecret">Facebook secret</label>
        <input id="facebookSecret" type="text" ng-model="vm.facebookSecret" class="form-control">

        <button ng-click="vm.updateApplication()" class="btn btn-primary btn-form">Update Application</button>
    </div>
</form>